morph_input.txt
morph_input.txt-out.txt
TODO.txt
hi_expanded
hi.gen.bin
hi.morf.bin
log.txt
TestResults_arc2.csv
TestResults_arc1.csv
TestResults.csv
TestResults.xlsx
apertium_hn_old.dix
apertium_hn.dix
apertium_hn_in_canonical_form.dix
verified_sent_old
verified_sent